/* hemsouvanh-calorie.css
    Author: Brock Hemsouvanh
    Original author: Professor Richard Krasso
    Description: Stylings specific to the Calorie App page
    Date: 11/11/23
*/

#foodList {
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
    margin: 20px;
}

.card label {
    margin: 20px;
}

.card button#btnSearch {
    margin: 20px;
    margin-top: 20px;
}