/**
    Title: hemsouvanh-future-value.css
    Author: Brock Hemsouvanh
    Original Author: Professor Krasso
    Date: 11/28/2023
    Description: Styling for the Future Value App
 */

.card-content .danger {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
  display:none;
 }

 .danger {
  float: right;
  color: #df546a !important;
  font-size: 12px !important;
  letter-spacing: 2px;
  display:none;
 }

 .form-label {
  display: inline-block;
  padding-top: 1rem;
 }

