/**
    File: hemsouvanh-future-value.css
    Author: Brock Hemsouvanh
    Original Author: Professor Krasso
    Date: 11/28/2023
    Description: Styling for the Future Value App
 */

.danger {
  float: right;
  color: #df546a;
  font-size: 12px;
  letter-spacing: 2px;
}

.form-label {
  display: inline-block;
  padding-top: 1rem;
  text-align: right;
  margin-right: 10px;
}

 .form-control {
    width: 100%; /* This will make them fill their container */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.drop-down-menu {
    width: 25%;
}